.fixed-stat {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.flag {
    height: 25px;
}

.bold-name {
    font-weight:bold;
}

.centered-button {
    display: block;
    width: 25%;
    margin: 0 auto;
}

.login-header {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-container {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.holder-header {
    display: flex;
}

.left-search-bar, .center-holder-title, .right-download {
    flex: 1;
    display: flex;
    justify-content: center;
}

.left-search-bar > form {
    margin-right: auto;
}

.right-download > button {
    margin-left: auto;
}